version: '3.8'

services:

  app:
    build: .
    container_name: laravel_app
    volumes:
      - ./:/var/www
    ports:
      - "8000:8000"
    depends_on:
      - db

  cron:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_cron
    command: >
      sh -c "echo '* * * * * cd /var/www && php artisan schedule:run >> /var/log/cron.log 2>&1' > /etc/crontabs/root
      && crond -f -l 2"
    volumes:
      - ./:/var/www